main .leftSide{
    clear: both;
    color: #7D97B5;
    float: left;
    width: 20%;
    padding: 0 0.4em;
    background-color: #141C24;
    height: 100%;
    margin-bottom: 1em;
}
main .leftSide ul{
    padding: 0;
    margin-top: 0;
}
main .leftSide ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    list-style: none;
    padding: 0.5em;
    padding-bottom: 1em;
    padding-top: 3em;
    margin: 0 1em;
}
main .leftSide ul li a{
    text-decoration: none;
    color: #7D97B5;
}
main .rightSide{
    float: left;
    width: 60%;
    padding: 0 0.5em;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 2em 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}
button {
  background-color: #141C24;
  color: white;
  padding: 14px 20px;
  margin: 2em 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.container {
  padding: 1em;
  width: 50%;
  float: left;
}
main .container{
    padding-left: 30%;
}
span.psw {
  float: right;
  padding-top: 16px;
}
.container a{
    padding-left: 1em;
}